* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(0, 0, 0);
}

/*main header styling*/
.header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(226, 196, 26);
    text-shadow: rgb(219, 219, 219) 5px 1px;
    font-family: 'Press Start 2P', cursive;
}

/*logo styling*/
.logo {
    width: 110px;
}


/*canvas styling*/
canvas {
    background:url('/assets/images/alien-planet.jpg') no-repeat;
    background-size: cover;
    /*background-color: rgb(91, 155, 250); */
    border: 2px solid rgb(238, 238, 238);
    border-radius: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
}


.controls {
    display: none;
    position: absolute;
    margin: 50px auto;
    right: 0;
    left: 0;
    top: 600px;
    color: rgb(185, 184, 184);
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
}  

@media only screen and (max-width: 600px){
    canvas{
        width: 100%;
        height: 40%;
        border: none;
    }
    .logo {
        display: none;
    }

    .header{
        display: none;
    }

}

/*mobile screen sizes*/
@media only screen and (max-width: 500px){
    canvas{
        width: 100%;
        height: 70%;
    }
    .logo {
        width: 30vw;
    }

    .header{
        display: block;
        font-size: 12px;
        text-shadow: rgb(106, 8, 126) 5px 1px;
    }

    .bg-container{
        background: none;
       
    }
    .controls {
        display: block;
    }  

}
